.brands {
  background-image: url('../images/brands.jpg');
  background-position: center center;
  background-size: cover;

  &__filter {
    background-color: rgba(0,141,210,0.6);
    padding: 0 15px 40px;
  }

  .sectionTitle {
    color: $white;

    &__highlight {
      color: $orange;
    }
  }

  .flex {
    @include row-flex();
    justify-content: center;
    padding: 0 80px;
  }

  &__text {
    font-family: "HelveticaNeueCyrLight", sans-serif;
    line-height: 1.2;
    color: $white;
    text-align: center;
    padding-top: 30px;
  }
}

.brandsItem {
  @include col();
  background-image: url("../images/sprite_brands.png");
  width: 220px;
  height: 90px;
}

@for $i from 0 through 9 {
  .brandsItem[data-name="sprite-item#{$i}"] {
    background-position: #{$i * -220}px 0;
  }
}

@include max-screen(659px) {
  .brands {
    .flex {
      padding: 0 40px;
    }
  }
}