footer {
  color: $muted;
  background-color: $footer;
  padding: 25px 15px;

  .flex {
    @include row-flex();
  }
}

.footer__text {
  @include col();
  p {
    font-family: "HelveticaNeueCyrLight", sans-serif;
    font-size: 0.875em;
    line-height: 1.1;
    a {
      color: $muted;
    }
  }
}

