@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
  url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
  url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
  url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyrRegular";
  src: url("../fonts/HelveticaNeueCyrRegular/HelveticaNeueCyrRegular.eot");
  src: url("../fonts/HelveticaNeueCyrRegular/HelveticaNeueCyrRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/HelveticaNeueCyrRegular/HelveticaNeueCyrRegular.woff") format("woff"),
  url("../fonts/HelveticaNeueCyrRegular/HelveticaNeueCyrRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyrMedium";
  src: url("../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.eot");
  src: url("../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.woff") format("woff"),
  url("../fonts/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyrLight";
  src: url("../fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.eot");
  src: url("../fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.woff") format("woff"),
  url("../fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyrBold";
  src: url("../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot");
  src: url("../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.woff") format("woff"),
  url("../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}