$navy: #001F3F;
$blue: #008DD2;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #F9A61A;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;
$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #8d8d8d;
$black: #000000;
$gold: #f9c100;
$footer: #242424;
$muted: #7F7F7F;

$hover-transition: all 0.15s ease-in-out;

